{% load currency_symbols %}
<h1>{{ stock.CompanyName }}</h1>

<table>
    <tr>
        <th>ISIN</th>
        <th>Financial Times Ticker</th>
        <th>Yahoo Finance Ticker</th>
        <th>Google Finance Ticker</th>
        <th>Bloomberg Ticker</th>
        <th>Currency</th>
        <th>52 Week Range</th>
        <th>Shares Outstanding</th>
        <th>Share Price: {{ stock.CurrentDate }} </th>
        <th>Market Cap</th>
        <th>Company URL</th>
    </tr>

    <tr>
        <td>{{ stock.ISIN }}</td>
        <td>{{ stock.FTTicker }}</td>
        <td>{{ stock.YFTicker }}</td>
        <td>{{ stock.GFTicker }}</td>
        <td>{{ stock.BBTicker }}</td>
        <td>{{ stock.RefCurry }}</td>
        <td>
            {{ stock.RefCurry|get_currency_symbol }}{{ stock.LowValue12mth }} -
            {{ stock.RefCurry|get_currency_symbol }}{{ stock.HighValue12mth }}
        </td>
        <td>{{ stock.CurrentSharesOS }}</td>
        <td>{{ stock.RefCurry|get_currency_symbol }}{{ stock.CurrentValue }}</td>
        <td>${{ stock.MktCap|floatformat:2 }}B</td>
        <td><a href="{{ stock.StockURL }}" target="_blank">VISIT</a></td>
    </tr>

</table>


<table>
    {% for data in fin_data %}
    <tr>
        <td>{{ data.FinDataID.FinDataName }}</td>
        <td>{{ data.RepValue }}</td>
    </tr>
    {% endfor %}
</table>

<!-- Display the calculated CAGR for each data point -->
<table>
    {% for data in cagr_data %}
    <tr>
        <td>CARGR {{ data.fin_data }}</td>
        <td>CARGR {{ data.cagr }}</td>
    </tr>
    {% endfor %}
</table>